h1{
    color:#ededed;
  }

  h4{
        color:red;
    }
p{
  font-style: href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&dis
play=swap" rel="stylesheet";
  line-height: 40px;
  word-spacing: 0.1em;
  color:#000000;
}

li{
  color:black
}
